{% extends "layout.html" %} {% block content %}

<div class="container">
  <form action="/drinks/buy" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="charge-addon">金額</span>
      </div>
      <input type="text" class="form-control" placeholder="1000" name="charge" id="charge" value=""></div>
    </div>
    <div id="flex">
      {% for drink in drinks %}
        <div class="drink">
          <span class="img_size"><img class="img_size" src="{{drink.image}}"></span>
          <span>{{drink.name}}</span>
          <span>{{drink.price}}円</span>
          {% if drink.count == 0 %}
          <span class="red">売り切れ</span>
          {% else %}
          <input type="radio" name="drink_id" value="{{drink.id}}">
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div id="submit">
        <button type="submit" class="btn btn-primary">商品購入</button>
      </div>
    </form>
</div>
{% endblock %}
