{% extends "layout.html" %} {% block content %}

<div class="container">
  <form action="/drinks/buy" method="POST">
    <div>金額<input type="text" name="charge" value=""></div>
    <div id="flex">
      {% for drink in drinks %}
        <div class="drink">
          <span class="img_size"><img class="img_size" src="{{drink.image}}"></span>
          <span>{{drink.name}}</span>
          <span>{{drink.price}}円</span>
          {% if drink.name == 0 %}
          <span class="danger">売り切れ</span>
          {% else %}
          <input type="radio" name="drink_id" value="{{drink.id}}>">
          {% endif %}
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">商品購入</button>
  </form>
</div>
{% endblock %}
