#flex {
    width: 600px;
}

#flex .drink {
    /*border: solid 1px;*/
    width: 120px;
    height: 210px;
    text-align: center;
    margin: 10px;
    float: left; 
}

#flex span {
    display: block;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img_size {
    height: 125px;
    width: auto;
}

.red {
    color: #FF0000;
}

#submit {
    clear: both;
}
