{% extends "layout.html" %} {% block content %}
<div class="container">
    <h2>部署データを編集します</h2>
    <form action="{{ url_for('update_division', id=division.id) }}" method="POST">
        <div class="form-group">
            <label for="name">名前</label>
            <input type="text" class="form-control" id="name" name="name" value="{{division.name}}" placeholder="総務部">
            <input type="hidden" value="{{division.id}}">
        </div>
        <button type="submit" class="btn btn-primary" name="cmd-type" value="exec">設定</button>
        <button type="submit" class="btn btn-primary" name="cmd-type" value="cancel">キャンセル</button>
    </form>
</div>
{% endblock %}