{% extends "layout.html" %} {% block content %}

<div class="container">
    <h2>社員一覧</h2>
    {% if employees|count == 0 %}
    <p>登録されている社員がいません。</p>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">社員ID</th>
                <th scope="col">名前</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <form action="{{ url_for('edit_employee', id=employee.id) }}" method="GET">
                        <td><button type="submit" class="btn btn-primary">編集</button></td>
                    </form>
                    <form action="{{ url_for('delete_employee', id=employee.id) }}" method="POST">
                        <td><button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？');">削除</button></td>
                    </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <div>
        <form action="{{url_for('new_employee')}}" method="GET">
            <button type="sumit" class="btn btn-primary">新規追加</button>
        </form>
        <form action="{{url_for('search_employees')}}" method="GET">
            <button type="sumit" class="btn btn-primary">検索...</button>
        </form>
        <form action="{{url_for('download_employee')}}" method="GET">
            <button type="sumit" class="btn btn-primary">CSVファイルに出力</button>
        </form>
    </div>
</div>
{% endblock %}